
* {box-sizing: border-box;}

html {
	font-family: "Noto Sans", sans-serif;
	min-height: 100%;
}

html {
	--main-color: #111;
	--main-background-color: #fff;
	
	--header-color: #1b345b; /* #eee;*/
	--underlay-color: #ddd;
	
	--accent-color: #1a73e8; /* #0062b3; */
	--accent-hover-color: #33a3ff;
	
	--overlay-color: rgba(255, 255, 255, 0.9);
}

@media (prefers-color-scheme: dark) {
	html {
		--main-color: #e1e1e1;
		--main-background-color: #111;
		
		--header-color: #222;
		--overlay-color: #333;
		
		--accent-color: #01b9ff;
		--accent-hover-color: #80dcff;
		
		--overlay-color: rgba(0, 0, 0, 0.8);
		
		background-color: black;
	}
}

body {
	padding: 0;
	margin: 0;
	
	color: var(--main-color);
	background-color: var(--main-background-color);
}

nav ul, header > *, main {
	display: block;
	max-width: 50rem;
	margin: 0 auto;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
	nav ul, header > *, main {
		padding-right: 15px;
		padding-left: 15px;
	}
}

h1, h2, h3, h4, h5, p, dl {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

h1 {
	text-align: center;
}

h2 {
	text-align: left;
}

img {
	border: none;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	color: var(--accent-hover-color);
}

.icon {
	vertical-align: middle;
}

ul {
	line-height: 1.4em;
	margin-bottom: 1em;
}

h3, h4, h5, h6 {
	font-weight: normal;
}

/* Page Layout */

body {
	margin: 0px;
	padding: 0px;
}

.navigation {
	margin: 1rem auto;
}

.navigation .prev_link {
	float: left;
}

.navigation .next_link {
	float: right;
}

header {
	overflow: auto;
	text-align: center;
	background-color: var(--header-color);
	color: #fff;
}

.gallery {
	text-align: center;
	margin: 2rem auto;
}

.gallery img {
	vertical-align: middle;
}

code.basic {
	display: block;
}

pre {
	margin: 2rem -2rem;
	padding: 2rem 4rem;
}

table.basic thead tr > * {
	border-bottom: 2px solid black;
}

table.basic {
	width: 100%;
	padding-left: 5em;
	padding-right: 5em;
}

table.basic th {
	padding-top: 20px;
	padding-bottom: 20px;
}

.questions > li {
	padding-bottom: 50px;
}

.answer {
	border: 1px solid #0f0;
	background-color: #cfc;
	padding: 5px;
}

h1.language {
	text-align: center;
	
	background-repeat: no-repeat;
	background-position: center bottom;
	
	padding: 25px 50px 105px;
	margin-top: 1rem;
}

.languages {
	list-style: none;
	text-align: center;
	
	padding: 0;
	margin: 0;
}

.languages li {
	display: inline-block;
	margin: 1rem;
	box-shadow: 0px 2px 5px 0px #adb5bd;
	border-radius: 4px;
	padding: 0.5rem 1rem;
}

.languages li a {
	display: block;
	width: 8rem;
	height: 12rem;
	padding: 1rem;
	
	background-position: 50% 65%;
	background-repeat: no-repeat;
	background-size: 65%;
}

.languages li {
	background-color: #ddd;
}

.languages li:hover {
	background-color: #eee;
}

.message-box {
	border: solid 2px #dedeff;
	color: #222222;
	padding: 10px 48px 10px;
	text-align: center;
	
	background: #efefff url(/_static/flag.png) 8px center no-repeat;
	margin: 0px 50px 0px;
	
	line-height: 1.5em;
}

.trail .icon {
	float: right;
	padding: 3px;
}

.trail .icon img {
	padding: 0px 5px 0px;
}

nav {
	background-color: #0a1932;
}

main nav {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

form label {
	display: block;
	margin: 0.5rem 0;
}

button, input, textarea {
	border-radius: 0.2rem;
	border: 0.1rem solid;
	
	margin: 0.2rem 0.2rem;
	padding: 0.2rem;
}

@media(prefers-color-scheme: dark) {
	input[type=submit] {
		background-color: #ccc;
	}

	input[type=submit]:active {
		background-color: #aaa;
		border-color: #666;
	}

	input, textarea {
		background-color: #222;
		color: #fff;
		border-color: #444;
	}

	input[type=submit] {
		border-color: #aaa;
		background-color: #444;
		color: #ccc;
	}

	input[type=submit]:active {
		border-color: #444;
		background-color: #222;
		color: white;
	}
}

form label input, form label textarea {
	display: block;
	margin: 0.5rem 0;
	padding: 0.5rem;
}

form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

form fieldset.footer {
	text-align: right;
}

form#login fieldset input {
	max-width: 6rem;
}

form.basic input:not([type=button]):not([type=reset]):not([type=submit]) {
	width: 70%;
}

form.basic input:invalid,
form.basic textarea:invalid {
	border-color: red;
}

form.basic textarea {
	box-sizing: border-box;
	width: 100%;
}

nav ul {
	padding:0;
	list-style: none;
	position: relative;
}
	
nav ul li {
	display:inline-block;
	background-color: #0a1932;
}

nav a, nav span {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:15px;
	line-height: 40px;
	text-decoration:none;
}

nav a:hover {
	background-color: #000000;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	z-index: 1;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	min-width: 180px;
	float: none;
	display: list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:170px;
}

/* Change this in order to change the Dropdown symbol */
nav li > span:before { content:  '▼ '; }
nav li > span:only-child:before { content: ''; }

#disqus_thread {
	border-top: 2px #0a1932 solid;
	padding-top: 3rem !important;
	margin-top: 3rem !important;
}